.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/obj/
**/testdata/
tools/**
.github/**
.vscode-test-web/**
.vscode-test/**
readme.md
package-lock.json
package.json
tsconfig.json
biome.json
